.landing-page-container { /* -*- */
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin: 0;
}

.headerButtonContainer{
    position: absolute; 
    right: 3%;
    top : 5%;
    box-sizing: border-box;
    display: flex;
}

.headerButton{
    height: 40px;
    width: 90px;
    border: 0px;
    background-color: inherit;
    padding: 5px 5px;
    font-size: x-large;
    font-weight: 500;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    font-family: BebasNeue;
}
.innerButton{
    width: fit-content;
    margin: auto;
    border-bottom: solid 1px  rgb(166, 222, 67);
}

.header-icon{
    display: flex;
    flex-direction: row;
    width: 0px;
    height: 0px;
    /* background-color: rgb(146, 137, 137); */
    background-color: rgb(166, 222, 67);
    position: fixed;
    top :5%;
    right: 2%;
    border-radius: 50%;
    border : solid 0.5px rgb(126, 126, 126); 
    z-index: 10;
}

.header-icon:hover{
   opacity: 0.7;
}

.stoke-bar1{
    position: absolute;
    width: 30px;
    height: 2px; 
    background-color: rgb(0, 0, 0);
    top: 40%;
    left:30%;
}

.stoke-bar2{
    position: absolute;
    top: 50%;
    left:30%;
    width: 30px;
    height: 2px;  
    background-color:  rgb(0, 0, 0);
}

.shading-button{
    margin-top: 3%;
    margin-left: 3%;
    height: 70px;
    width: 320px;
    border: solid 1px rgb(255, 255, 255);
    z-index: 0;
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
    background-color: rgb(241, 234, 234);
    border-radius: 2px;
    background-color: inherit;
    border-radius: 100px;
}

.button-name {
    transition:all 2s ease;
    z-index: 3;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(255, 255, 255);
    font-size: larger;
  }
  

.effect1{
    transition:all 1s ease;
    height: 70px;
    width: 320px;
    background-color: rgb(166, 222, 67);
    z-index: 1;
    position: absolute;
    top :-110%;
    left: 0;
    z-index: 2;
    opacity: 0.8;
    border-radius: 0% 0% 80% 80%;
}

.shading-button:hover .effect1 {
    top:100%;
    border-radius: 0px 0px 0px 0px;
    /* background-color:  rgb(146, 137, 137) */
    background-color: rgb(166, 222, 67);
}

.shading-button:hover .button-name {
    color: rgb(0, 0, 0);
}

.shading-button:hover .effect1{
    top:0;
    /* background-color:  rgb(146, 137, 137) */
    background-color: rgb(166, 222, 67);
}

  .about-section{
    display: flex;
    flex-direction: column;
    /* height: 100vh;
    position: sticky;
    top: 0; */
  }

  .thick-hr {
    border: none;
    background-color: inherit;
    height: 100px;
  }