.landing-page-container { /* -*- */
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin: 0;
}

.headerButtonContainer{
    position: absolute; 
    right: 3%;
    top : 5%;
    box-sizing: border-box;
    display: flex;
}

.headerButton{
    height: 40px;
    width: 90px;
    border: 0px;
    background-color: inherit;
    padding: 5px 5px;
    font-size: x-large;
    font-weight: 600;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    font-family: BebasNeue;
}
.innerButton{
    width: fit-content;
    margin: auto;
    border-bottom: solid 1px  rgb(166, 222, 67);
    left:0;
}

.header-icon{
    display: flex;
    flex-direction: row;
    width: 0px;
    height: 0px;
    /* background-color: rgb(146, 137, 137); */
    background-color: rgb(166, 222, 67);
    position: fixed;
    top :5%;
    right: 2%;
    border-radius: 50%;
    border : solid 0.5px rgb(126, 126, 126); 
    z-index: 10;
}

@media (max-width: 768px) {
    /* Font sizes for tablets and larger screens */
    .header-icon {
        right: 5%;
    }
}
.header-icon:hover{
   opacity: 0.7;
}

.stoke-bar1{
    position: absolute;
    width: 50%;
    height: 2px; 
    background-color: rgb(0, 0, 0);
    top: 40%;
    left:25%;
}

.stoke-bar2{
    position: absolute;
    top: 50%;
    left:25%;
    width: 50%;
    height: 2px;  
    background-color:  rgb(0, 0, 0);
}

.shading-button{
    margin-top: 3%;
    margin-left: 3%;
    height: 70px;
    width: 320px;
    border: solid 1px rgb(132, 132, 132);
    z-index: 0;
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
    background-color: rgb(241, 234, 234);
    border-radius: 2px;
    background-color: inherit;
    border-radius: 100px;
}

.button-name {
    transition:all 2s ease;
    z-index: 3;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(104, 104, 104);
    font-size: larger;
  }
  

.effect1{
    transition:all 1.5s ease;
    height: 70px;
    width: 320px;
    background-color: rgb(123, 175, 191);
    z-index: 1;
    position: absolute;
    top :-110%;
    left: 0;
    z-index: 2;
    opacity: 0.8;
    border-radius: 0% 0% 80% 80%;
}

.shading-button:hover .effect1 {
    top:100%;
    border-radius: 0px 0px 0px 0px;
    /* background-color:  rgb(146, 137, 137) */
    background-color: rgb(123, 175, 191);
}

.shading-button:hover .button-name {
    color: rgb(255, 255, 255);
}

.shading-button:hover .effect1{
    top:0;
    /* background-color:  rgb(146, 137, 137) */
    background-color:rgb(123, 175, 191);
}

  .about-section{
    display: flex;
    flex-direction: column;
    /* height: 100vh;
    position: sticky; */
    top: 0;
  }

  .splash-screen{
    z-index: 11;
    position: absolute;
    height: 100vh;
    color: white;
    width: 100vw;
    top:0;
    left: 0;
  }

  .upper-rect{
    height: 50vh;
    width: 100vw;
    background-color: rgb(0, 0, 0);

  }

  .lower-rect{
    height: 50vh;
    width: 100%;
    background-color: rgb(0, 0, 0);
  }

  .hello-container{
    position: absolute;
    background-color:rgb(166, 222, 67);
    height: 20%;
    width: 100%;
    justify-content: center;
    align-items: center;
    z-index: 12;
    top:40%;
    max-height: 160px;
  }

  .hellos{
    position: relative;
    color: rgb(0, 0, 0);
    font-family: "BebasNeue";
    font-size: 1150%;
    font-weight: 700;
    padding: 0;
    top:-55%;
  }

  @media (max-width: 768px) {
    /* Font sizes for tablets and larger screens */
    .hello-container{ 
        top:35%;
        height: 10%;
    }

    .hellos{
        top:-25%;
        font-size: 700%;
        font-weight: 600;
        font-family: "BebasNeue";
      }
  }

  .ready-text{
    /* animation: opcaity 1s forwards; */
    animation: opcaity 3s forwards;
}

.tranform-upper-rect{
    animation: tranform-upper-rect-animae 3s forwards;
    background-color:  rgb(21, 21, 21);;

}
.tranform-lower-rect{
    animation: tranform-lower-rect-animae 3s forwards;
    background-color:  rgb(21, 21, 21);;
}

  @keyframes tranform-upper-rect-animae {
    from{
        transform: translateY(0);
    }
    to{
        transform: translateY(-2000px);
        /* opacity: 0; */
    }
  }

  @keyframes tranform-lower-rect-animae {
    from{
        transform: translateY(0);
    }
    to{
        transform: translateY(2000px);
        /* opacity: 0; */
    }
  }



  @keyframes opcaity {
    from{
      opacity: 1;
    }
    to{
        transform: scale(10,10);
        opacity: 0;
    }
  }

  .no-limit-section{
    overflow: hidden;
    padding-bottom: 10px;
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: rgb(0, 0, 0);
    align-items: center;
    justify-content: center; 
  }

  .key-board{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: solid 0.1px  aliceblue; */
    padding: 1%;
    border-radius: 5px;
  }

  .board-row{
    position: relative;
    display: flex;
    flex-direction: row;
  }

  .keys{
    display: flex;
    height: 10vmin;
    width: 10vmin;
    background-color: rgb(241, 232, 232);
    /* background-color: white; */
    font-size: x-large;
    margin-left: 0.3vmin;
    margin-bottom: 0.3vmin;
    align-items: center;
    justify-content: center; 
    border-radius: 10px;
  }



.trigger-line{
  width: 100%;
  position: relative;
  height: 20px;
  border-width: 10px;
  z-index: 10;
  z-index: 30;
  bottom:-48%;
  color: black;;
  }

  .enter-key{
    display: flex;
    height: 10vmin;
    width: 10vmin;
    font-size: x-large;
    margin-left: 0.3vmin;
    margin-bottom: 0.3vmin;
    align-items: center;
    justify-content: center; 
    border-radius: 10px;
    background-color:rgb(166, 222, 67);
  }

  @media (max-width: 768px) {


  }

  .text-zoom-section{
    overflow: hidden;
    padding: 10px;
  }

  .text-zoomout-section{
    padding: 10px;
    transition: background-color 1s ease;
    min-height: 100vh;
    overflow: hidden;
    position: relative;
    display: flex;
    width: 100%;
    /* align-items: center; */
    /* justify-content: center;  */
    background-color: rgb(255, 255, 255);
  }

  .scale-text1{
    z-index: 20;
    position: absolute;
    top:-10%;
    left: 0%;
    color: rgb(66, 66, 66);
    display: flex;
    font-size: 2800%;
    font-family: BebasNeue;
    font-weight: 700;
    white-space: nowrap;
    justify-content: center; 
    /* background-color: aqua; */

  }

  .scale-text2{
    z-index: 20;
    position: absolute;
    top:50%;
    left: 0%;
    color: rgb(138, 138, 138);
    display: flex;
    font-size: 1700%;
    font-family: BebasNeue;
    font-weight: 700;
    white-space: nowrap;
    justify-content: center; 
    /* background-color: aqua; */

  }

  
  #stars {
    z-index: 5;
    position: absolute;
    background-color:#fff;
    z-index: 5;
    width: 3.5px;
    height: 3.5px;
    top:50vh;
    left: 50%;
    border-radius: 50px;
    animation: zoom 2.5s alternate infinite;
    /* animation: animStar 0.25s infinite; */
    box-shadow:
    42vw -45vh 0px 0px #fff,-25vw 32vh 1px 1px #fff,1vw 34vh 1px 0px #fff,-1vw -19vh 1px 1px #fff,-16vw -46vh 1px 1px #fff,42vw -4vh 0px 0px #fff,8vw 8vh 0px 1px #fff,8vw -36vh 1px 1px #fff,9vw 36vh 1px 1px #fff,-45vw -27vh 0px 1px #fff,50vw -15vh 0px 1px #fff,21vw -28vh 1px 0px #fff,40vw -45vh 1px 0px #fff,21vw -40vh 1px 1px #fff,45vw 42vh 1px 0px #fff,-6vw -50vh 0px 0px #fff,38vw 31vh 0px 1px #fff,1vw 30vh 0px 0px #fff,37vw 3vh 1px 0px #fff,-9vw 21vh 0px 1px #fff,-32vw 0vh 0px 1px #fff,40vw 12vh 1px 0px #fff,-34vw -34vh 1px 1px #fff,18vw 29vh 0px 1px #fff,27vw -9vh 0px 1px #fff,36vw -27vh 0px 1px #fff,49vw 17vh 0px 0px #fff,41vw 45vh 0px 0px #fff,-21vw 48vh 0px 1px #fff,-17vw -45vh 1px 1px #fff,19vw 24vh 0px 1px #fff,-8vw 2vh 1px 0px #fff,-7vw -15vh 0px 0px #fff,15vw -38vh 0px 0px #fff,31vw -8vh 0px 0px #fff,48vw -39vh 1px 0px #fff,-14vw 32vh 1px 1px #fff,40vw -31vh 1px 1px #fff,-20vw 42vh 1px 1px #fff,50vw 27vh 1px 0px #fff,-35vw -23vh 1px 1px #fff,32vw -45vh 1px 1px #fff,-4vw -50vh 1px 1px #fff,-33vw -33vh 0px 1px #fff,-12vw 24vh 1px 1px #fff,-13vw -19vh 0px 1px #fff,-46vw 17vh 1px 1px #fff,-25vw 2vh 0px 0px #fff,-7vw -34vh 1px 1px #fff,-34vw -45vh 1px 0px #fff,-41vw -46vh 0px 0px #fff,32vw -25vh 1px 0px #fff,33vw 40vh 0px 0px #fff,30vw -9vh 1px 1px #fff,-43vw -37vh 0px 0px #fff,22vw -43vh 0px 1px #fff,-3vw 10vh 0px 0px #fff,49vw -32vh 0px 1px #fff,44vw -36vh 1px 1px #fff,-5vw -45vh 1px 0px #fff,35vw -32vh 1px 0px #fff,20vw 3vh 0px 1px #fff,-26vw -21vh 0px 1px #fff,-3vw -10vh 0px 0px #fff,-14vw -17vh 1px 0px #fff,-15vw -20vh 0px 0px #fff,43vw -4vh 1px 1px #fff,19vw 29vh 0px 0px #fff,-45vw 48vh 0px 0px #fff,-39vw 45vh 1px 1px #fff,-2vw 15vh 0px 0px #fff,33vw -36vh 0px 1px #fff,8vw 8vh 1px 1px #fff,5vw 48vh 0px 1px #fff,-35vw -38vh 1px 0px #fff,-2vw 26vh 0px 0px #fff,33vw 34vh 1px 0px #fff,36vw -43vh 0px 0px #fff,-48vw -8vh 1px 0px #fff,-22vw 9vh 1px 0px #fff,-12vw -26vh 0px 0px #fff,-19vw 2vh 1px 0px #fff,-5vw 24vh 0px 1px #fff,28vw 17vh 0px 1px #fff,-19vw -42vh 0px 1px #fff,-15vw -39vh 1px 1px #fff,-45vw 33vh 0px 1px #fff,-49vw -21vh 0px 0px #fff,-14vw -39vh 0px 0px #fff,21vw 23vh 1px 0px #fff,5vw -39vh 1px 0px #fff,22vw -7vh 1px 1px #fff,-6vw -27vh 0px 1px #fff,-22vw -46vh 1px 1px #fff,21vw 20vh 0px 0px #fff,-1vw -47vh 0px 0px #fff,-19vw 8vh 1px 0px #fff,-49vw 23vh 0px 0px #fff,30vw -26vh 0px 0px #fff,-17vw 35vh 1px 1px #fff
  }

  #stars2{
    z-index: 5;
    position: absolute;
    background-color:#fff;
    z-index: 20;
    width: 2.5px;
    height: 2.5px;
    top: 50vh;
    left: 50%;
    border-radius: 50px;
    animation: zoom 1.5s alternate infinite;
    /* animation: animStar2 0.25s infinite; */
    box-shadow:
  0vw 13vh 1px 1px #fff,25vw 38vh 1px 1px #fff,-9vw -34vh 0px 0px #fff,49vw 28vh 1px 0px #fff,16vw 30vh 0px 1px #fff,40vw 21vh 0px 1px #fff,44vw 17vh 0px 0px #fff,21vw 28vh 0px 1px #fff,11vw 25vh 0px 0px #fff,50vw -14vh 0px 0px #fff,15vw -3vh 0px 0px #fff,-5vw 11vh 1px 1px #fff,29vw -40vh 0px 1px #fff,19vw 26vh 1px 0px #fff,27vw -11vh 1px 1px #fff,40vw 24vh 0px 0px #fff,23vw -15vh 1px 0px #fff,-45vw -34vh 0px 0px #fff,-46vw 30vh 0px 0px #fff,9vw -44vh 0px 1px #fff,46vw 9vh 0px 1px #fff,40vw 9vh 1px 1px #fff,-8vw 29vh 0px 1px #fff,-9vw -43vh 0px 0px #fff,-39vw -16vh 1px 0px #fff,15vw -21vh 1px 1px #fff,-3vw 47vh 0px 0px #fff,9vw 31vh 0px 0px #fff,-27vw 9vh 1px 1px #fff,40vw 13vh 0px 0px #fff,-45vw 32vh 1px 0px #fff,41vw -9vh 0px 0px #fff,-7vw 31vh 0px 1px #fff,19vw -15vh 1px 0px #fff,19vw 18vh 0px 1px #fff,-4vw 50vh 1px 0px #fff,46vw -18vh 0px 0px #fff,-49vw 36vh 0px 1px #fff,5vw 32vh 0px 0px #fff,34vw -22vh 1px 0px #fff,-45vw 25vh 1px 1px #fff,-26vw -30vh 1px 0px #fff,41vw -23vh 1px 1px #fff,39vw -15vh 1px 0px #fff,-30vw -41vh 0px 0px #fff,14vw 6vh 0px 1px #fff,-46vw 40vh 1px 0px #fff,-24vw -34vh 1px 0px #fff,-14vw -16vh 0px 0px #fff,-23vw 35vh 0px 0px #fff,37vw -13vh 1px 1px #fff,26vw 17vh 1px 1px #fff,-28vw -38vh 1px 0px #fff,-50vw 0vh 1px 0px #fff,-27vw -44vh 1px 1px #fff,-38vw 42vh 0px 0px #fff,-5vw 38vh 0px 0px #fff,2vw 19vh 0px 1px #fff,50vw 25vh 1px 1px #fff,-31vw 2vh 1px 0px #fff,-48vw 6vh 1px 0px #fff,-34vw -40vh 1px 0px #fff,48vw 40vh 0px 0px #fff,-30vw 11vh 1px 0px #fff,-14vw 47vh 1px 0px #fff,33vw -32vh 0px 0px #fff,-30vw 44vh 1px 1px #fff,-9vw 21vh 0px 1px #fff,10vw 19vh 1px 1px #fff,-37vw -49vh 0px 0px #fff,16vw 41vh 1px 0px #fff,30vw -24vh 0px 0px #fff,27vw 45vh 1px 1px #fff,-3vw -49vh 1px 1px #fff,-8vw -26vh 1px 0px #fff,2vw -15vh 1px 0px #fff,-10vw 6vh 1px 1px #fff,-49vw 34vh 1px 0px #fff,0vw 36vh 1px 0px #fff,-30vw 29vh 0px 1px #fff,-21vw -15vh 0px 1px #fff,38vw -30vh 0px 1px #fff,32vw -9vh 1px 1px #fff,-20vw -21vh 1px 0px #fff,21vw -32vh 0px 1px #fff,-41vw -33vh 1px 1px #fff,-20vw -41vh 0px 1px #fff,5vw 42vh 0px 1px #fff,-26vw -37vh 0px 1px #fff,-34vw -1vh 0px 1px #fff,37vw -15vh 0px 1px #fff,-17vw 17vh 0px 1px #fff,-50vw 31vh 0px 1px #fff,2vw -28vh 0px 0px #fff,46vw -45vh 0px 0px #fff,5vw 34vh 0px 1px #fff,-44vw -26vh 1px 0px #fff,-1vw 30vh 1px 1px #fff,37vw -36vh 1px 0px #fff,42vw -37vh 0px 1px #fff
  }

  
  @keyframes animStar1 {
    from {
      width: 2px;
      height: 2px;
    }
    to {
      width: 3.5px;
      height: 3.5px;
    }
  }

  @keyframes animStar2 {
    from {
      width: 1px;
      height: 1px;
    }
    to {
      width: 3.5px;
      height: 3.5px;
    }
  }

  @keyframes zoom {
    0%{
        transform: scale(1);
    }
    100%{
        transform: scale(1.5);
    }
}


@media (max-width: 768px) {

  .text-zoomout-section{
    transform: rotate(9deg);
  }

  .keys{
    border-radius: 5px;
    font-size: larger;
  }
  .enter-key{
    border-radius: 5px;
    font-size: larger;
   
  }
  .scale-text1{
    font-size: 1000%;
    top: 10%;
  }

  .scale-text2{
    font-size: 800%;
    top: 40%;
  }

  #stars {
    width: 2px;
    height: 2px;
  }

  #stars2 {
    width: 1px;
    height: 1px;
  }
}



