@font-face {
  font-family: 'BebasNeue';
  src: url('./fonts/BebasNeue.woff2') format('woff2')
}

@font-face {
  font-family: 'nunito-sans';
  src: url('./fonts/nunito-sans-latin-800.woff2') format('woff2')
}



.mobile-located-at-text{
  position: absolute;
  font-size: 200%;
  font-family: 'BebasNeue';
  transform: rotate(90deg);
  height: fit-content;
  width: fit-content;
  height: 100%; /* Set the desired height for the container */
  transform: rotate(90deg); /* Rotate the element by 90 degrees */
  left: -55%;
  color:aliceblue;
}

.locatedAt{
    /* border-top: solid 0.3px rgb(123, 120, 120);
    border-right: solid  0.3px rgb(123, 120, 120);
    border-bottom: solid  0.3px rgb(123, 120, 120); */
    width: 35vw;
    height: 15vh;
    background-color: rgb(28, 28, 28);
    position: absolute;
    top: 40%;
    border-radius: 0 50px 50px 0;
    color: rgb(255, 255, 255);
    text-align: left;
    align-items: center;
    /* padding: 20px 100px 20px 20px; */
    box-sizing: border-box;
    font-family: 'BebasNeue';
    max-height: 110px;
    max-width: 300px;
    animation: sidePopIn-left 5s forwards;
}

.locatedAt::before{
    background-color: rgb(91, 89, 89);
    animation: backgroundChanges 1s infinite;
    position: absolute;
    content: "";
    width: 13vh;
    height: 13vh;
    border-radius: 50%;
    right:5%;
    background: radial-gradient(circle, white 5%, rgb(149, 221, 25));
    top:10%;
    max-height: 80px;
    max-width: 80px;
}

.locatedAt::after{
  position: absolute;
  content: "";
  width: 13vh;
  height: 13vh;
  border-radius: 50%;
  background-image: url('./images/earth-svgrepo-com.svg');
  background-size: contain;
  background-repeat: no-repeat;
  right:5%;
  top:10%;
  max-height: 80px;
  max-width: 80px;
}

.mobile-locatedAt{
    background-color: rgb(42, 42, 42);
    width: 40px;
    height: 80px;
    position: absolute;
    left:0%;
    bottom:35%;
    border-radius: 0 10px 10px 0;
}


.profile-page {
    height: 100vh;
    width: auto;
    background-image: url('./images/rename.png');
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 1;
}

.freelancer{
  width: 30%;
  background-color: rgb(166, 222, 67);
  bottom: 10%;
  position: absolute;
  right:0;
  border-radius: 10px 0 0 10px;
  font-size: xx-large ;
  font-family: BebasNeue;
  animation: wave-effect 5s infinite;
  height: fit-content;
}

@keyframes wave-effect {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.8;
    background-color:rgb(78, 78, 78);
    color: aliceblue;
  }
  100% {
    opacity: 1;
  }
}



.scroll-name{
    position: absolute;
    font-family: 'Bulevar', sans-serif;
    color:rgb(220, 193, 154);
    width: 100%;
    right: 0;
    left: 0;
    bottom: 5%;
}

.top-left-text{
    position: absolute;
    left: 3%;
    top:5%;
    color: rgb(255, 255, 255);
    font-size: 120%;
    font-family: 'nunito-sans';
}

.located-at-text{
  padding-top: 5%;
  padding-left: 5%;
  font-size: 120%;
  font-family: 'BebasNeue';
}


@keyframes backgroundChanges {
    0% {
        background: linear-gradient(
            to bottom,
            rgb(255, 255, 255),
            rgb(162, 255, 2)
    )}
    
    50% {
        background: linear-gradient(
            to bottom,
             rgb(162, 255, 2),
            rgb(255, 255, 255)
        )
  } }


@keyframes sidePopIn-left {
  from{
    opacity: 0;
    transform: translateX(-500px);
  }
  to{
    opacity: 1;
    transform: 0;
  }
}

@keyframes sidePopIn-rigth {
  from{
    opacity: 0;
    transform: translateX(+100px);
  }
  to{
    transform: 0;
    opacity: 0.7;
  }
}


.name-scroll-parent{
    display: flex;
    bottom:5%;
    position: absolute;
    max-width: 100%;
    overflow-x: hidden;
}

.name-scroll{
    left:0;
    width: 100%;
    font-size:1300%;
    color:rgb(255, 255, 255);
    white-space: nowrap;
    font-weight: 200;
}

.name1{
    left:0;
}

.name2{
    left:0;
}

.space{
    position: absolute;
    width: 100px;
    height: 5000px;
}

.mybutton{
    width: 150px;
    height: 150px;
    position: relative;
    background-color: aquamarine;
    top:1500px;
}


.popupBox{
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: rgb(32, 129, 95);
}


.quote-1{
    transition:all 0.75s ease;
    align-self: center;
    position: absolute;
    margin-right: 5%;
    margin-top:0;
    font-size: 400%;
    font-weight: 100;
    background-color: rgb(166, 222, 67);
    height: 15%;
    width: 100%;
    color: rgb(252, 252, 252);
}

.container {
    position: absolute;
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 50%;
   
  }

  .single-row{
    position: relative;
    width: fit-content;
    display: flex;
    height: fit-content;
    align-items: center;
    left: 10%;
    padding: 0.3%;
  }
  
  .the-square {
    width: fit-content;
    position: absolute;
    opacity: 1px;
    display: flex;
    overflow: hidden;
    /* background-color: aquamarine; */
  }
  
  .twins1{
      color: rgb(255, 255, 255);
      font-size: 350%;
      height: fit-content;
      margin: 0;
      white-space: nowrap;
      font-weight: 250;
      font-family: BebasNeue;
  }
  
  .twins2{
      color:rgb(89, 89, 89);  
      white-space: nowrap;
      font-size:  350%;
      margin: 0;
      font-weight: 250;
      font-family: BebasNeue;
  }

  .mobile-font{
    font-size: 10%;
  }

.space-small{
    position: relative;
    height: 10%;
    width: 100%;
}

.change-the-background{
    background-color: rgb(182, 29, 29);
}

.change-the-background-quote{
    background-color: rgb(157, 157, 157);
    transition:all 1s ease;
}

  
  .growing-section {
    position: absolute;
    height: 800px;
    background-color: rgb(249, 116, 0);
    width:100%
  }

  .fixed-section{
    background-color: rgb(0, 118, 254);
  }

  
  .fixed1 {
    position: fixed;
    top:0;
  }

  .bar{
    position: relative;
    color:rgb(173, 83, 83);
    border-style: dashed; 
    border-width: 10px;
    width: 80%;
  }

  .parent-tag {
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-bottom: 10px;
    background-color: black;
  }
  
.text-section{
    position: absolute;
    left:0%;
    top:5%;
    bottom: 5%;
  }
  
  .parent-fixed-section {
    transition:all 0.25s ease;
    position: relative;
    background-color: rgb(166, 222, 67);
    min-height: 100vh;
  }

  .text-fixed-section{
    position:absolute;
    margin-top: 15%;

}

.vertical-bar{
  position: absolute;
  height: 100vh;
  width:3%;
  background-color: rgb(166, 222, 67);
  right:0;
  top:0;
}


.header-slide-bar{
  animation: sidePopIn-rigth 1.5s forwards;
  position: fixed;
  top: 5%;
  right: 2vw; /* =0= */
  color: aliceblue;
  background-color: rgb(59, 59, 59);
  height: 5%;
  width: fit-content; /* =0= */
  border-radius:10px 0 0 10px;
  display: flex;
  flex-direction: row;
  z-index: 5;
  height: fit-content;
}

.slider-button {
  width: fit-content; /* =0= */
  background-color: inherit;
  border: 0;
  margin-bottom: solid 1px black;
  bottom: 5%;
  margin-left: 2vw; /* =0= */
  padding: 0 1.5vw; /* =0= */
  font-size: x-large ;
  color: white;
  font-family: BebasNeue;
 
}

.slider-button:last-child{  /* =0= */
  margin-right: 2vw;
}
.slider-close {
  padding: 0;
}

.slider-button:hover {
  background-color:  rgb(166, 222, 67);
  transition:all 0.5s ease;
  opacity: 0.7;
  color: black;
}

 .running-name-box {
    width: fit-content;
    max-width: 100vw;
    position: absolute;
    bottom: 10%;
    overflow-x: scroll;
    justify-content: center;
}

.running-name{
  position: relative;
  font-weight: 200;
  font-size: 1000%;
  color: rgb(255, 255, 255);
  white-space: nowrap;
  animation: name-slide 15s infinite;
  justify-content: center;
  font-family: "BebasNeue";
  -webkit-text-stroke: 3px  rgb(255, 255, 255);
  -webkit-text-fill-color:transparent;
  
}

@keyframes name-slide {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-500px);
  }
  100% {
    transform: translateX(0);
  }
}

.read-more{
  background-color: inherit;
  position: absolute;
  width: 6%;
  height: 8%;
  color: palevioletred;
  left: 11%;
  bottom: 5vh;
  font-size:500%;
  display: flex;
  align-items: center;
  text-align: center;
}



.read-more.visible-down {
  animation: arrowPointerDown 3s;
  transform-origin: top left;
}

.read-more.visible-up {
  animation: arrowPointerUp 3s;
  transform-origin: bottom left;
}

@keyframes arrowPointerDown {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: translateX(5vh) rotate(90deg);
  }
  40% {
    transform: translateX(5vh) translateY(20px) rotate(90deg);
  }
  55% {
    transform: translateX(5vh) translateY(0) rotate(90deg);
  }
  70% {
    transform: translateX(5vh) translateY(20px) rotate(90deg);
  }
  85% {
    transform: translateX(5vh) translateY(0) rotate(90deg);
  }
  100% {
    transform: translateY(0) rotate(0deg);
  }
}


  @keyframes arrowPointerUp {
    0% {
      transform: rotate(0deg);
    }
    25% {
      transform: translateX(5vh) rotate(-90deg);
    }
    40% {
      transform: translateX(5vh) translateY(-20px) rotate(-90deg);
    }
    55% {
      transform: translateX(5vh) translateY(0) rotate(-90deg);
    }
    70% {
      transform: translateX(5vh) translateY(-20px) rotate(-90deg);
    }
    85% {
      transform: translateX(5vh) translateY(0) rotate(-90deg);
    }
    100% {
      transform: translateY(0) rotate(0deg);
    }
  }

  @media (max-width: 768px) {

    .read-more{
      background-color: inherit;
      position: absolute;
      width: 6%;
      height: 8%;
      color: palevioletred;
      left: 11%;
      bottom: 5vh;
      font-size:600%;
      display: flex;
      align-items: center;
      text-align: center;
    }
    
    
    .twins1 {
      font-size: 250%;
    }
    .twins2 {
      font-size: 250%;
    }
    .single-row {
      left: 5%;
    }

    .profile-page {
      background-image: url('./images/rename.png');
    }

    .slider-button {
      font-size: large;
    }
  }

  .scroll-down
{
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.scroll-down span:nth-child(2)
{
    animation-delay: -0.2s;
}
.scroll-down span:nth-child(3)
{
    animation-delay: -0.4s;
}
.scroll-down span
{
    display: block;
    width: 20px;
    height: 20px;
    border-bottom: 1px solid #fff;
    border-right: 1px solid #fff;
    transform: rotate(45deg);
    margin: -10px;
    animation: animate 2s infinite;
}
@keyframes animate
{
    0%
  {
        opacity: 0;
        transform: rotate(45deg) translate(-20px,-20px);
    }
    50%
  {
        opacity: 1;
    }
    100%
  {
        opacity: 0;
        transform: rotate(45deg) translate(20px,20px);
    }
}

.Name1{
  font-family: 'BebasNeue';
  position: absolute;
  top:20%;
  right: 25%;
  font-size: 550%;
  color: rgb(186, 182, 182);
 
}

.cirle1{
  height: 40vh;
  width: 40vh;
  /* background-color: blue; */
  position: absolute;
  top: 15%;
  right: 5%;
  border-radius: 50%;
  background-image: url('./images/fahima_bw.png');
  background-size: contain;
  background-repeat: no-repeat;
}
.Name2{
  font-family: 'BebasNeue';
  position: absolute;
  top:40%;
  right: 35%;
  font-size: 550%;
  color: rgb(186, 182, 182);
  font-weight: 10;
 
}

.cirle2{
  height: 35vh;
  width: 35vh;
  /* background-color: blue; */
  position: absolute;
  top:33%;
  right: 25%;
  border-radius: 50%;
  background-image: url('./images/ak_bw.png');
  background-size: contain;
  background-repeat: no-repeat;
}

@media (max-width: 768px) {

  .Name1{
    font-family: 'BebasNeue';
    position: absolute;
    top:25%;
    left:10%;
    font-size: 250%;
    color: rgb(186, 182, 182);
   
  }
  
  .cirle1{
    height: 20vh;
    width: 20vh;
    /* background-color: blue; */
    position: absolute;
    top: 20%;
    right: 5%;
    border-radius: 50%;
    background-image: url('./images/fahima_bw.png');
    background-size: contain;
    background-repeat: no-repeat;
  }
  .Name2{
    font-family: 'BebasNeue';
    position: absolute;
    top:40%;
    left:15%;
    font-size: 350%;
    color: rgb(186, 182, 182);
    font-weight: 10;
   
  }
  
  .cirle2{
    height: 20vh;
    width: 20vh;
    /* background-color: blue; */
    position: absolute;
    top:35%;
    right: 15%;
    border-radius: 50%;
    background-image: url('./images/ak_bw.png');
    background-size: contain;
    background-repeat: no-repeat;

}
}

@media (min-width: 1200px) and (max-height: 700px) {

  .read-more{
    left: 3%;
    font-size:400%;
  }
}