@font-face {
  font-family: 'BebasNeue';
  src: url('./fonts/BebasNeue.woff2') format('woff2')
}

.tech-stack-header{
    position: relative;
    color: rgb(139, 139, 139);
    height: 20vh;
    width: 100%;
    font-size: 350%;
    font-weight: 250;
    text-align: center;
    padding: 5%;
    font-family: BebasNeue;
    top:-5%
}

.ruller{
  border: none;
  height: 1px; /* Set the desired height */
  background-color: black; /* Set the desired color */
  width: 100vw;
}

.seprater{
  border: none;
}

.image-background{
  /* background-color: aliceblue; */
  border: solid 0.5px rgb(139, 139, 139);
  border-radius: 5px;
  background-color: rgb(242, 242, 242);
  margin: 1vw;
  transition:all 5s ease;
}

.is-visible-bg{
  background-color: rgb(179, 26, 26);
}


@keyframes colorFade {
  from{
    background-color:rgb(191, 192, 189);
  }
  to{
    background-color: rgb(242, 242, 242);
  }
  
}

.is-visible{
    animation-name: fadeInUp;
    animation-duration: 2s;
    animation-fill-mode: forwards;
  }
  
  @keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translate3d(0, 40%, 0);
    }
  
    to { 
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
  }


.stack-parent{
    position: relative;
    /* margin: 5%; */
    /* max-height: 50vh; */
    /* background-color:rgb(22, 22, 22); */
    /* z-index: 6; */
    overflow: hidden;
}

.work-item-section {
  min-height: 120vh;
  height: fit-content;
  background-color: rgb(242, 242, 242);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  z-index: 3;
}

.tub-parent {
  background-color: rgb(31, 31, 31);  /* -*- */
  box-shadow: 0px 50px 50px 0px rgb(31, 31, 31);  /* -*- */
  z-index: 3;
}

.curved-frame {
  height: 200px;
  background-color: rgb(242, 242, 242);
  z-index: 3;
  
}

@media (max-width: 768px) {
  .curved-frame {
    height: 120px;  
  }
}
